<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Robi api</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./layout.css">
    
<body>
    <h1>Let's do Api with Glitch</h1>
    <div class="container">
        <form action="">
            <textarea name="" id="content_api" placeholder="Api details"></textarea>
        </form>
        <button id="btnSave" weihgt="100">Save</button>
    </div>
</body>
</html>
